# SPDX-License-Identifier: MIT OR Apache-2.0

# This is a sample Docker environment file for Floresta.
# You can customize it according to your needs.

# uncomment to use a local data directory instead of docker volumes
#FLORESTA_DATADIR=$HOME/.floresta

# mainnet
NETWORK=bitcoin
RPC_PORT=8332
ELECTRUM_PORT=50001

# signet
#NETWORK=signet
#RPC_PORT=38332
#ELECTRUM_PORT=60001

# testnet
#NETWORK=testnet
#RPC_PORT=18332
#ELECTRUM_PORT=30001

# testnet4
#NETWORK=testnet4
#RPC_PORT=48332
#ELECTRUM_PORT=40001

# regtest
#NETWORK=regtest
#RPC_PORT=18442
#ELECTRUM_PORT=20001
